html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FEFEE2;    
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#box{
    margin: auto;
    padding-top: 1px;
    margin-top: 10px;
    width: 30%;
    background-color: #A0522D;
    text-align: center;
    height: 12%;
}
table{
    border-collapse: collapse;
    margin: auto;
    margin-top: 100px;

}
th{
    width: 200px;
    height: 150px;
}
td{
    text-align: left;
}

#V{
    background-color:#48a832;
}
#JV{
    background-color: #82c41f;
}
#J{
    background-color: #b9c41f;
}
#O{
    background-color: orange;
}
#R{
    background-color: red;
}

img{
    margin-top: 250px;
    float: right;
    width: 60px;
}